.navbar {
  background-color: #b1ffff;
  color: rgb(255, 255, 255);
  font-family: 'Reenie Beanie', cursive;
}
.container-fluid{
  font-family: 'Reenie Beanie', cursive;

}

/* RandomTab styling start */
.page4 {
  box-sizing: border-box;
  font-family: 'Minecraft', sans-serif;
}

.spooky {
  padding-top: 20px;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-family: 'Reenie Beanie', cursive;

}

.spookcontainer {
  border-radius: 2rem;
  padding-bottom: 20px;
  padding-top: 30px;

}

.spookcontainer2 {
  border-radius: 2rem;
  padding-bottom: 50px;
}

.container {
  display: flex;
}

.panel {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  color: rgb(245, 244, 244);
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.9s ease-in;
}

.panel h3 {
  font-size: 25px;
  position: absolute;
  bottom: 0px;
  left: 20px;
  margin: 20;
  opacity: 0;
  color: rgb(255, 255, 255);
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.5s;
}

.background-image {
  width: fit-content;
  height: 50px;
}

.panel2 {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  color: rgb(245, 244, 244);
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.9s ease-in;
}

.panel2 h3 {
  font-size: 25px;
  position: absolute;
  bottom: 0px;
  left: 20px;
  margin: 20;
  opacity: 0;
  color: rgb(255, 255, 255);
}

.panel2.active {
  flex: 5;
}

.panel2.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.5s;
}

.background-image {
  width: fit-content;
  height: 50px;
}

/* RandomTab styling end */
/*----------------------------------------------------------------------------------------*/

/* Screenshots styling start */

.page1 {
  width: 100%;
  background-color: #000000;
  margin: 0% !important;
  padding: 0% !important;
  font-family: 'Reenie Beanie', cursive;

                                              
}

.title_lines {
  margin-top: 10%;
  margin-bottom: 10%;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-align: center;
  color: rgb(255, 255, 255);

}

.title_lines h2 {
  font-size: 3.2vw;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.title_lines:before,
.title_lines:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 40%;
  height: 1px;
  content: '\a0';
  background-color: #f50d8d;
  margin-left: 10%;
}

.title_lines:before {
  margin-left: -50%;
  text-align: right;
}

.portfoliocontainer {
  position: relative;
  column-count: 4;
  padding: 0% 10% 0% 10%;
}

.portfolioimage {
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

.portfoliocontainer img {
  width: 100%;
}

.portfolioimage:hover{
  transform:scale(1.5);
}

/* Screenshots styling start */
/*----------------------------------------------------------------------------------------*/

/* CSS used to create animated background (for fun)*/
/* all code from - https://www.sliderrevolution.com/resources/css-animated-background/ */
html {
height:100%;
}

.page1 {
margin:0;
}

.bg {
animation:slide 3s ease-in-out infinite alternate;
background-image: linear-gradient(-60deg, rgb(177, 255, 251) 50%, rgb(213, 141, 231) 50%);
bottom:0;
left:-50%;
opacity:.5;
position:fixed;
right:-50%;
top:0;
z-index:-1;
}

.bg2 {
animation-direction:alternate-reverse;
animation-duration:3s;
}

.bg3 {
animation-duration:s;
}

.content {
background-color:rgba(255,255,255,.8);
border-radius:.25em;
box-shadow:0 0 .25em rgba(0,0,0,.25);
box-sizing:border-box;
left:50%;
padding:10vmin;
position:fixed;
text-align:center;
top:50%;
transform:translate(-50%, -50%);
}

h1 {
font-family:monospace;
}

@keyframes slide {
0% {
  transform:translateX(-25%);
}
100% {
  transform:translateX(25%);
}
}
